body {
    margin: 0px;

    font-family: Circular, Helvetica Neue, Helvetica, Arial, sans-serif;
    
    display: flex;
    padding: 0px;
    color: #484848;
    font-size: 14px;
    flex-direction: column;
    min-height: 100vh;
}
